<?xml version="1.0"?>
<configuration>
  <startup useLegacyV2RuntimeActivationPolicy="true">
    <supportedRuntime version="v4.0" sku = ".NETFramework,Version=v4.0"/>
    <supportedRuntime version="v2.0.50727"/>
  </startup>
  <appSettings>
    <add key="SQLiteConnectionString" value="Data Source=lm.s3db;Pooling=true;FailIfMissing=false"/>
  </appSettings>
</configuration>
